@model SportsMemoribilia.NHL

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<h4>NHL</h4>
<hr />
<table>
    <tr>
        <td rowspan="5">
            @{
                var base64 = Convert.ToBase64String(Model.Image);
                var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
            }
            <img src="@imgsrc" width="125" height="125" />
        </td>
    </tr>
    <tr>
        <td colspan="2">@Html.DisplayNameFor(model => model.Title)</td>
        <td colspan="2">@Html.DisplayFor(model => model.Title)</td>
    </tr>
    <tr>
        <td colspan="2">@Html.DisplayNameFor(model => model.Description)</td>
        <td colspan="2">@Html.DisplayFor(model => model.Description)</td>
    </tr>
    <tr>
        <td colspan="2">@Html.DisplayNameFor(model => model.Type)</td>
        <td colspan="2">@Html.DisplayFor(model => model.Type)</td>
    </tr>
    <tr>
        <td colspan="2">@Html.DisplayNameFor(model => model.Price)</td>
        <td colspan="2">@Html.DisplayFor(model => model.Price)</td>
    </tr>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PhotoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>