@model SportsMemoribilia.NFL

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NFL</h4>
    <hr />
    <table>
        <tr>
            <td rowspan="5">
                @{
                    var base64 = Convert.ToBase64String(Model.Image);
                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                }
                <img src="@imgsrc" width="125" height="125" />
            </td>
        </tr>
        <tr>
            <td colspan="2">@Html.DisplayNameFor(model => model.Title)</td>
            <td colspan="2">@Html.DisplayFor(model => model.Title)</td>
        </tr>
        <tr>
            <td colspan="2">@Html.DisplayNameFor(model => model.Description)</td>
            <td colspan="2">@Html.DisplayFor(model => model.Description)</td>
        </tr>
        <tr>
            <td colspan="2">@Html.DisplayNameFor(model => model.Type)</td>
            <td colspan="2">@Html.DisplayFor(model => model.Type)</td>
        </tr>
        <tr>
            <td colspan="2">@Html.DisplayNameFor(model => model.Price)</td>
            <td colspan="2">@Html.DisplayFor(model => model.Price)</td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>